body{
    text-align: center;
    color: black;
    background-color: whitesmoke;
}
#welcome{
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding-bottom: 50px; 
    padding-top: 100;
    font-size: 30px;
    
}
h1{
    font-family: sans-serif;
    color: white;
}
#ok{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#name{
    font-family: monospace;
}
.menu {
    list-style: none;
    position: fixed;
    top: 0px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    margin-top: inherit;

    color: black;
    
    
    
}
.links {
    float: left;
    color: black;
    padding-top: 8px;
    padding-left: 18px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
    background-color: lightcoral;
    width: 260;
    margin-left:none;
}

.links:hover{
    background-color: red;
    font-size: 30px;
    
    
}
#ok{
    padding-top: 10px;
}
h2{
    font-family: cursive;
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
p{
    font-size: 25;
    padding-left: 500;
    padding-right: 500;
}
#name{
    font-family: cursive;
}
#drum{
    font-family: cursive
}
#umm{
    color: black;
}
html{
    scroll-behavior: smooth;
}
#you{
    color: white;
    background-color: red;
    font-family: sans-serif;
    width: 500px;
    height: 70px;
    border-style: hidden;
    font-size: 30px;
    
    
}
#you:hover{
    background-color: white;
}
#come{
    color:black;
}
#yea{
    font-family: sans-serif;
    color: red;
}
#yessir{
    color: red;
}
#yessir:hover{
    color: black;
    font-size: 30px;
}
#contact{
    background-image: background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');